{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

    <h1>Register</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.firstName) }}
        {{ form_row(registrationForm.lastName) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {% if app.user %}
            {{ form_row(registrationForm.roles) }}
        {% else %}
            {{ form_row(registrationForm.agreeTerms) }}
        {% endif %}

        <button type="submit" class="btn btn-primary">Inscription</button>
    {{ form_end(registrationForm) }}
{% endblock %}
